<header class="header-custom d-flex justify-content-between align-items-center py-3 px-4 px-lg-5">

    <a href="{{ is_authenticated() ? path('app_pos_login') : path('app_home') }}" class="header-custom__logo d-flex align-items-center text-decoration-none">
        <span class="header-custom__icon">🐾</span>
        <span class="header-custom__text">Pet<span>Care</span></span>
    </a>

    <div class="header-custom__actions d-flex align-items-center">
        {% if is_authenticated() %}
            <span class="me-3">Olá, {{ user_name() }}</span>
            <form method="post" action="{{ path('app_logout') }}" class="d-inline">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
                <button type="submit" class="header-custom__btn btn btn-outline-danger">Sair</button>
            </form>
        {% else %}
            <a href="{{ path('app_login_form')}}" class="header-custom__btn btn btn-outline-primary">
                Entrar
            </a>
        {% endif %}
    </div>

</header>
